<h1>Welcome to Fitco</h1>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '608724582620949',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="status">
</div>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<div id ="sign up">

<%= form_for :user, class: "signupForm" do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: "shortInput" %> <br />

  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "shortInput" %> <br />

  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email, class: "shortInput" %> <br />

  <%= f.label :password %>
  <%= f.password_field :password, class: "shortInput" %> <br />

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation, class: "shortInput" %> <br />

  <%= f.submit "Create account", class: "button createAccount" %>

<% end %>
</div>


