<p id="notice"><%= notice %></p>
<%= @exercise.name %> <%= @exercise.metric %> <%= @exercise.description %>
<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
