<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
</head>
​
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
​
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i>getFit
                </a>
            </div>
​
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Signup</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download" data-toggle="modal" data-target="#signupModal">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
​
​
</br>
 <!-- About Section -->
 <% @trainers.each do |trainer| %>
    <section id="about" class="about-section">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="hovereffect">
            <img class="img-responsive" src="<%=trainer.url%>" alt="https://static.pexels.com/photos/9806/pexels-photo-large.jpg">
              <div class="overlay">
                  <h2 a href="#"><%= trainer.firstname %> : <%= trainer.description %></h2>
                  <% link_to trainers_path%>
              </div>
          </div>
        </div>
​
        <div class="col-lg-6 col-sm-6">
          <div class="hovereffect">
            <img class="img-responsive" src="<%=trainer.url%>" alt="https://static.pexels.com/photos/4077/healthy-person-woman-sport-large.jpg">
              <div class="overlay">
                  <h2><%= trainer.firstname %> : <%= trainer.description %></h2>
                  <p> 
                  <a href="#"></a>
                  </p> 
              </div>
          </div>
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="hovereffect">
            <img class="img-responsive" src="<%= trainer.url%>" alt="https://static.pexels.com/photos/36776/fitness-strength-strong-male-large.jpg">
              <div class="overlay">
                  <h2><%= trainer.firstname %> : <%= trainer.description %></h2>
                  <!-- <p> 
                  <a href="#"></a>
                  </p> --> 
              </div>
          </div>
        </div>
​
        <div class="col-lg-6 col-sm-6">
          <div class="hovereffect">
            <img class="img-responsive" src="<%= trainer.url%>" alt="https://static.pexels.com/photos/39688/training-train-lime-barbell-39688-large.jpeg">
              <div class="overlay">
                  <h2><%= trainer.firstname %> : <%= trainer.description %></h2>
              </div>
          </div>
        </div>
      </div>
      </br>
    </section>
<% end %>